*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
 width: 1100px;
margin: 0 auto;
font-family: Raleway, sans-serif;
=======
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
>>>>>>> e964669902d84330a66656da3a93873387997381
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
<<<<<<< HEAD
padding: 0;
}
a {
  color: inherit;
}
          

          
          
              
            
=======
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
>>>>>>> e964669902d84330a66656da3a93873387997381
